@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic');
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~icheck-bootstrap/icheck-bootstrap.css';
@import '../../vendor/almasaeed2010/adminlte/dist/css/adminlte.css';

@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}

.card {
    .card-body {
        min-height: 350px;
    }
}

.layout-top-nav {
    .wrapper {
        .main-header .brand-image {
            height: 50px;
            margin-right: .5rem;
            margin-top: -1rem;
            margin-bottom: -1rem;
        }
        .content-wrapper {
            padding: 40px 0;
        }
    }
}

.navbar-toggler {
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
}

@include mobile {
    .layout-top-nav.fullscreen {
        .wrapper {
            .content-wrapper {
                padding: 0;

                > .content {
                    padding: 0;

                    .container {
                        padding: 0;
                    }
                }
            }
        }
    }

    .card {
        .card-header {
            .nav-pills .nav-link {
                padding: 0.25rem;
            }
        }

        .card-body {
            padding: 0.25rem;
            min-height: 300px;
        }
    }

    .navbar-collapse {
        border-top: 1px solid rgba(0,0,0,.1);
        margin-top: 10px;
    }

    .mobile-hidden {
        display: none !important;
    }

    .table {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}
