@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic');
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~overlayscrollbars/css/OverlayScrollbars.css';
@import '~icheck-bootstrap/icheck-bootstrap.css';
@import '../../vendor/almasaeed2010/adminlte/dist/css/adminlte.css';

.layout-top-nav {
    .wrapper {
        .main-header .brand-image {
            height: 50px;
            margin-right: .5rem;
            margin-top: -.5rem;
            margin-bottom: -.5rem;
        }
        .content-wrapper {
            padding: 40px 0;
        }
    }
}
